<!DOCTYPE HTML>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="renderer" content="webkit">
  <meta name="apple-mobile-web-app-capable" content="no" />
  <meta name="format-detection" content="telephone=no">
  <title>添加CDN地址Demo</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <!-- inject:bower:css -->
  <!-- bower框架库样式 -->
  <!-- endinject -->
  <!-- inject:lib:css -->
  <!-- 项目通用样式 -->
  <!-- endinject -->
  <!-- inject:views:css -->
  <!-- 页面样式 -->
  <!-- endinject -->
</head>

<body>
  <div class="content">
    <h3>《香港之行》</h3>
    <p>
      雨后登高望山楼
      <br/>溢彩香江曜中秋
      <br/>悠游凌霄美食汇
      <br/>不负此行挂心头
    </p>
  </div>
  <!-- inject:bower:js -->
  <!-- bower框架库脚本 -->
  <!-- endinject -->
  <!-- inject:lib:js -->
  <!-- 项目通用脚本 -->
  <!-- endinject -->
  <!-- inject:views:js -->
  <!-- 页面脚本 -->
  <!-- endinject -->
</body>

</html>
